.experience {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.illustration {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.illustration svg {
    flex: 1;
    height: auto;
}


.details {
    flex: 1;
    max-width: 500px;
}

.details h3 {
    border: 2px solid var(--clr-accent);
    color: var(--clr-accent);
    display: inline-block;
    padding: 4px;
}


@media (max-width: 768px) {
    .experience {
        flex-direction: column;
    }

    .experience.reverse {
        flex-direction: column-reverse;
    }

    .illustration svg {
        width: 90vw;
        max-width: 500px;
        max-height: 500px;
        height: auto;
    }

    .experience-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}